<div class="center">
	<img class="desaturate background-img" src="imgs/background-about-website.jpg" />
</div> 

<div class="main-content">
	<div class="container-fluid">
		<h1>About This Website</h1>
		<hr></hr>
	</div>

	<div class="container-fluid">
		<p>Due to the gracious Cal Poly Computer Science Department each Computer Science/Software Engineering student is given a small area on the insitution's server systems that acts as a web server. Utilizing this web server I have set up a website using my previous web design and development knowledge.</p>

		<p>This website has been built utilizing the AngularJS single page application framework. This website is a single-page applicaiton (the entire website operates under a single html page). This allows for a more fluid experience for users because there is no wait time between pages and allows there to be a managed model structure that can support elements on the page. AngularUI Router has been used to manage the different "states" (tabs) of the web application.</p>

		<p>The frontend styling of this website has been made possible through using customized Twitter Bootstrap CSS stylesheets. Some custom styling was needed to customize specific parts of this website.</p>

		<p>Please explore the source code of the website as you wish.</p>
	</div>
</div>