<div class="center">
	<img class="desaturate background-img background-contact" src="imgs/background-contact.jpg" />
</div> 

<div class="main-content">
	<div class="container-fluid">
		<h1>Contact Me</h1>
		<hr></hr>
	</div>

	<div class="container-fluid">
		<p>Need to get into contact with me? No problem! Below you will find the many ways to get ahold of me. Please note though that the easiest (and fastest) way to contact me would be through email.</p>
	
		<ul class="contact-list">
			<li>
				<a href="mailto:dtumer@calpoly.edu"><span class="glyphicon glyphicon-envelope"></span>Email me</a>
			</li>
			<li>
				<font class="linked">in</font><a href="https://www.linkedin.com/in/deniz-tumer-b5b601a8">Message me on LinkedIn</a>
			</li>
		</ul>
	</div>
</div>