<div class="center">
	<img class="desaturate background-img" src="imgs/background.jpg" />
	<img class="main-img" src="imgs/me.jpg" />
	<p class="main-img-text">Deniz Tumer</br>Software Engineer</p>
</div> 

<div class="main-content">
	<!-- Header -->
	<div class="container-fluid">
		<h1>Welcome To My Website</h1>
		<hr></hr>
	</div>

	<!-- page content box -->
	<div class="container-fluid">
		<p>Hello, World! My name is Deniz Tumer and I am a fourth year Software Engineering major at California Polytechnic State University, San Luis Obispo.</p>
		<p>Welcome to my personal website! Here you will find information about me and my upbringings as well as information related to my education, the projects I have been involved in, my work experience, and even some information about how this website was built.</p>
		<p>Thank you for your time and please do not hesitate to contact me with any questions or concerns.</p>
	</div>
</div>