<div class="center">
	<img class="desaturate background-img" src="imgs/background-work.jpg" />
</div> 

<div class="main-content">
	<div class="container-fluid">
		<h1>My Work Experience</h1>
		<hr></hr>
	</div>

	<div class="container-fluid">
		<p>Experience in the workforce is very important for Software Engineers. Based on my experiences, work experience in software is essential to fully understanding the software process and how to evolve as a brilliant programmer.</p>

		<p>Below you will find the businesses I have had the opportunity to work with and a brief description of my duties as well as my major accomplishments with the respective business.</p>
	</div>
</div>